.lang-background {
  background: #f8efd4;
}

.lang-text {
  color: #f8efd4;
  background-color: #d7385e;
  border-radius: 15px;
}

.lang-choice {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
}

.select-lang {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-height: 60%;
  margin: 0 0.5rem;
}

.lang-button {
  background-color: #d7385e !important;
  font-weight: bold !important;
  color: #f8efd4 !important;
}

.chosen-lang {
  outline: 2px #132743 solid !important;
}
