.surgery-background {
  background: #eeeeee;
}

.surgery-text {
  color: #eeeeee;
  background-color: #00adb5;
  border-radius: 15px;
}

.surgery-form {
  width: 40%;
}

.surgery-nav {
  background-color: #ff5722 !important;
  color: #eeeeee !important;
  font-weight: bold !important;
}
